<%= form_with(model: exam_result, local: true) do |form| %>
  <% if exam_result.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(exam_result.errors.count, "error") %> prohibited this exam_result from being saved:</h2>

      <ul>
      <% exam_result.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :student_id ,"氏名"%>
   <%= form.select :student_id, options_for_select(@students, @selected_student) %>
  </div>

  <div class="field">
    <%= form.label :subject_id ,"教科"%>
    <%= form.select :subject_id, @subjects %>
  </div>

  <div class="field">
    <%= form.label :name ,"試験名"%>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :score ,"点数"%>
    <%= form.number_field :score %>
  </div>

  <div class="actions">
    <%= form.submit "更新"%>
  </div>
<% end %>
