<div class="page-header">
<p id="notice"><%= notice %></p>

<h1>生徒データ一覧</h1>

<table class= "table table-hover table-dark">
  <thead class="thead-light">
    <tr>
      <th>pass</th>
      <th>氏名</th>
      <th>メールアドレス</th>
      <th>性別</th>
      <th>年齢</th>
      <th>その他</th>
      <th colspan="5"><%= link_to '生徒追加', new_student_path , class:"btn btn-sm btn-block btn-outline-success"%></th>
    </tr>
  </thead>

  <tbody>
    <!-- <% if current_student.admin? %> -->
      <% @students.each do |student| %>
        <tr>
          <td><%= student.password %></td>
          <td><%= student.name %></td>
          <td><%= student.email %></td>
          <td><%= display_name student.gender %></td>
          <td><%= display_age student.age %></td>
          <td><%= student.opinion %></td>
          <td><%= link_to '表示', student, class:"btn btn-outline-primary" %></td>
          <td><%= link_to '編集', edit_student_path(student) , class:"btn btn-outline-info" %></td>
          <td><%= link_to '削除', student, method: :delete, data: { confirm: 'よろしいですか？' } , class:"btn btn-outline-danger" %></td>
          <td><%= link_to '試験結果追加', new_exam_result_path(student_id: student.id), class:"btn btn-outline-warning" %></td>
          <td><%= link_to '所属部活追加', new_club_student_path(student_id: student.id), class:"btn btn-outline-warning" %></td>
        </tr>
      <!--<% end %>
    <% else %>
      <tr>
        <td><%= @student.name %></td>
        <td><%= @student.email %></td>
        <td><%= display_name @student.gender %></td>
        <td><%= display_age @student.age %></td>
        <td><%= @student.opinion %></td>
        <td><%= link_to '表示', @student, class:"btn btn-outline-primary" %></td>
        <td><%= link_to '編集', edit_student_path(@student) , class:"btn btn-outline-info"  %></td>
        <td><%= link_to '削除', @student, method: :delete, data: { confirm: 'よろしいですか？' } , class:"btn btn-outline-danger" %></td>
        <td><%= link_to '試験結果追加', new_exam_result_path(student_id: @student.id), class:"btn btn-outline-warning" %></td>
        <td><%= link_to '所属部活追加', new_club_student_path(student_id: @student.id), class:"btn btn-outline-warning" %></td>
      </tr>
    <% end %>-->
  </tbody>
</table>

<br>

<!--<% if current_student.admin? %>
  <%= link_to '生徒追加', new_student_path , class:"btn btn-outline-success"%>
  <%= paginate @students %>
<% end %> -->
