<p id="notice"><%= notice %></p>

<h1>部活加入状況</h1>

<table>
  <thead>
    <tr>
      <th>生徒</th>
      <th>部活</th>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @club_students.each do |club_student| %>
      <tr>
        <td><%= club_student.student %></td>
        <td><%= club_student.club %></td>
        <td><%= club_student.name %></td>
        <td><%= link_to '表示', club_student %></td>
        <td><%= link_to '編集', edit_club_student_path(club_student) %></td>
        <td><%= link_to '削除', club_student, method: :delete, data: { confirm: 'よろしいですか？' } %></td>
     </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '加入状況編集', new_club_student_path %>
