<div class="page-header">
<p id="notice"><%= notice %></p>

<h1>Exam Results</h1>

<table>
  <thead>
    <tr>
      <th>Student</th>
      <th>Subject</th>
      <th>Name</th>
      <th>Score</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @exam_results.each do |exam_result| %>
      <tr>
        <td><%= exam_result.student.name %></td>
        <td><%= exam_result.subject.name %></td>
        <td><%= exam_result.name %></td>
        <td><%= exam_result.score %></td>
        <td><%= link_to 'Show', exam_result %></td>
        <td><%= link_to 'Edit', edit_exam_result_path(exam_result) %></td>
        <td><%= link_to 'Destroy', exam_result, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Exam Result', new_exam_result_path %>
<%= paginate @exam_results %>
</div>
