<p id="notice"><%= notice %></p>

<p>
  <strong>Student:</strong>
  <%= @exam_result.student.name %>
</p>

<p>
  <strong>Subject:</strong>
  <%= @exam_result.subject.name %>
</p>

<p>
  <strong>Name:</strong>
  <%= @exam_result.name %>
</p>

<p>
  <strong>Score:</strong>
  <%= @exam_result.score %>
</p>

<%= link_to 'Edit', edit_exam_result_path(@exam_result) %> |
<%= link_to 'Back', exam_results_path %>
